{% load template_tags %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    {% include 'movimentacao/_modal-form.html' %}
                    {% include 'acao/_modal.html' %}
                </div>
            </div>
            {% if totais.total_atual %}
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total investido</h5>
                                    <span class="h2 font-weight-bold mb-0">R$ {{ totais.total_investido|floatformat:2 }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success"></span>
                                <span class="text-nowrap">Carteira atual</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total atual</h5>
                                    <span class="h2 font-weight-bold mb-0">R$ {{ totais.total_atual|floatformat:2 }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="ni ni-chart-pie-35"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success"></span>
                                <span class="text-nowrap">Carteira atual</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Ganho/Perda atual</h5>
                                    <span class="h2 font-weight-bold mb-0">
                                        R$ {{ totais.total_atual|subtrair:totais.total_investido|floatformat:2 }}
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="ni ni-chart-bar-32"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                    {% if totais.total_atual|subtrair:totais.total_investido > 0 %}
                                    
                                    <span class="text-success mr-2">
                                    <i class="fas fa-arrow-up"></i>

                                    {% else %}
                                    <span class="text-danger mr-2">
                                    <i class="fas fa-arrow-down "></i>
                            
                                    {% endif %}
                                    {{ totais.total_atual|subtrair:totais.total_investido|percentual:totais.total_investido|floatformat:2 }} %
                                    </span>
                                    <span class="text-nowrap">Carteira atual</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>