{% extends 'base.html' %}

{% block header %}
{% include 'dashboard/_header.html' %}
{% endblock %}

{% block content %}

<div class="row">
    {% include 'dashboard/_carteira.html' %}
    {% include 'dashboard/_alocacao.html' %}
</div>
<div class="row">
    {% include 'dashboard/_chart.html' %}
</div>
{% endblock %}

{% block js %}
<script>
    function chamaFormMovimentacaoModal() {
        url = "{% url 'cria_movimentacao' %}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $('#movimentacaoModal .modal-body').html(data);
            },
            error: function (data) {
                alert('Erro ao carregar dados');
            }
        });
    }

    function submitMovimentacaoModal() {

        url = "{% url 'cria_movimentacao' %}";
        $.ajax({
            url: url,
            type: 'POST',
            data: $("#id_form_movimentacao").serialize(),
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                if (data.status == 400) {
                    $('#movimentacaoModal .modal-body').html(data.responseText);
                } else {
                    alert('Erro ao inserir');
                }
            }
        });
    }

    function chamaModalMovimentacoes() {
        url = "{% url 'movimentacoes' %}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $('#movimentacoesModal .modal-body').html(data);
            },
            error: function (data) {
                alert('Erro ao carregar dados');
            }
        });
    }

    function chamaFormAcaoModal() {
        url = "{% url 'cria_acao' %}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $('#acaoModal .modal-body').html(data);
            },
            error: function (data) {
                alert('Erro ao carregar dados');
            }
        });
    }

    function submitAcaoModal() {
        url = "{% url 'cria_acao' %}";
        $.ajax({
            url: url,
            type: 'POST',
            data: $("#id_form_acao").serialize(),
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                if (data.status == 400) {
                    $('#acaoModal .modal-body').html(data.responseText);
                } else {
                    alert('Erro ao inserir');
                }
            }
        });
    }

</script>
{% endblock %}