<!-- Button trigger modal -->
<a href="#" class="btn btn-sm btn-neutral" onclick="chamaFormMovimentacaoModal()" data-toggle="modal" data-target="#movimentacaoModal">+ Movimentação</a>

<!-- Modal -->
<div class="modal fade" id="movimentacaoModal" tabindex="-1" role="dialog" aria-labelledby="movimentacaoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movimentacaoModalLabel">Movimentação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="id_form_movimentacao">
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" onclick="submitMovimentacaoModal()" class="btn btn-primary">Salvar</button>
      </div>
    </form>
    </div>
  </div>
</div>